.container.formContainer {
  width:60%;
}
.date {
  margin-bottom: 0.5rem;
}
.finished {
  text-decoration:line-through;
  background-color: #28a745;
}
.unfinished{
  background-color: #ffc107;
}
.switch {
  text-align:center;
  width: 300px;
  margin: 10px auto;
}